[
    {maria, [
        {markets, all},
        {currencies_auto_fetch, #{
            default => #{wp => false, ws => false},
            {btc, usd} => true
        }},
        {market_bitstamp, [
			{ballances_autofetcher, #{default => true}},
			{remote_orders_autofetcher, #{default => true}},
            {currencies_auto_fetch, #{
                aave => on_demand
            }}
        ]}
    ]},
    {mcluster, [
		{nodes_specs, #{
			'maria@mutty' => #{
				primary_codebase => maria,
				roles => [maria],
				runtime_env => dev,
				kawbo_gql => #{},
				maria => #{
					markets => [bitstamp]
				}
			},
			'pedro@mutty' => #{
				primary_codebase => maria,
				roles => [maria],
				runtime_env => dev,
				kawbo_gql => #{},
				maria => #{
					markets => none
				}
			},
			'kawbo@mutty' => #{
				primary_codebase => kawbo,
				roles => [kawbo_gql],
				runtime_env => dev,
				kawbo_gql => #{},
				maria => #{
					markets => [bitstamp]
				}
			}
		}},
        {table_loading_timeout, 30000}
    ]},
    {sync, [
        {src_dirs, {add, [{"deps/mcluster/src", [{outdir, "deps/mcluster/ebin/"}]}]}}
    ]},
	{kernel, [
		{logger_level, debug},
		{logger, [
			{handler, default, logger_std_h, #{
				formatter => {mlogs, #{
					colored => true,
					meta_modifiers => [
						{mlogs, add_timestamp, [timestamp]},
						{mlogs, add_node, [node]}
					],
					exclude_meta_fields => [time, gl, domain, file]
				}}
			}}
		]}
	]},
	{systemd, [
		{auto_formatter, false}
	]}
].
