[
    {mcluster, [
		{nodes_specs, #{
			'maria@mutty' => #{
				primary_codebase => maria,
				auto_connect_to_nodes_with_roles => [],
				roles => [maria],
				cluster_id => dev,
				kawbo_gql => #{},
				maria => #{
					markets => [bitstamp]
				}
			},
			'pedro@mutty' => #{
				primary_codebase => maria,
				auto_connect_to_nodes_with_roles => [maria],
				roles => [maria],
				cluster_id => dev,
				kawbo_gql => #{},
				maria => #{
					markets => none
				}
			},
			'kawbo@mutty' => #{
				primary_codebase => kawbo,
				auto_connect_to_nodes_with_roles => [maria],
				roles => [kawbo_gql],
				cluster_id => dev,
				kawbo_gql => #{},
				maria => #{
					markets => [bitstamp]
				}
			},
			'mcluster@mutty' => #{
				primary_codebase => mcluster,
				auto_connect_to_nodes_with_roles => [maria, kawbo_gql],
				roles => [mcluster],
				cluster_id => dev
			}
		}},
        {table_loading_timeout, 30000}
    ]}
].
